:root {
  --black:#1B1F2B;
  --orange200:#EFA501;
  --green400:#286562;
  --gray300:#A6A6A6;
  --beige200:#F4F0E9;
  --orange100:#F8E6BE;
  --green300:#3B7E7B;
  --gray200:#D9DFDB;
  --beige100:#F9F7F4;
  --green200:#627F7E;
  --gray100:#F1F3F2;
  --green100:#E0F0E5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 109%;
}

a, a:visited {
  text-decoration: none;
}

a:hover,a:active {
  text-decoration: underline;
}

label {
  font-weight: 400;
  font-size: 2rem;
  line-height: 142%;
  display: flex;
  align-items: center;
  gap: 1.1rem;
}

label span {
  font-weight: 400;
  font-size: 2rem;
  line-height: 142%;
  color: var(--gray300);
}

input {
  padding: 2rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 142%;
  color: var(--black);
  border: 1px solid var(--beige200);
  background-color: var(--beige100);
  border-radius: 1rem;
  outline: none;
}

input::placeholder {
  color: var(--gray300);
}

input[type="text"]:focus {
  border: 1px solid var(--gray300);
  background-color: var(--beige200);
}

input[type="text"]:hover {
  background-color: var(--beige200);
}

input[type="radio"] {
  accent-color: var(--black);
  aspect-ratio: 1;
  width: 2.6rem;
}

input[type="checkbox"] {
  accent-color: var(--black);
  aspect-ratio: 1;
  width: 2.6rem;
}

select {
  appearance: none;
  padding: 2rem;
  width: 100%;
  font-weight: 400;
  font-size: 2rem;
  line-height: 142%;
  color: var(--black);
  border: 1px solid var(--beige200);
  background: url(./src/ic-dropdown.svg) no-repeat;
  background-position: calc(100% - 2rem);
  background-color: var(--beige100);
  border-radius: 1rem;
  outline: none;
  cursor: pointer;
}

select:hover {
  background-color: var(--beige200);
}

textarea {
  padding: 2rem;
  width: 100%;
  height: 112px;
  font-weight: 400;
  font-size: 2rem;
  line-height: 142%;
  color: var(--gray300);
  border: 1px solid var(--beige200);
  background-color: var(--beige100);
  border-radius: 1rem;
  outline: none;
}

textarea:focus {
  border: 1px solid var(--gray300);
}

button {
  width: 100%;
  padding: 1.5rem 3rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 142%;
  background-color: var(--green400);
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

h1 {
  font-weight: 700;
  font-size: 9.6rem;
  color: white;
  text-align: center;
}

p {
  font-weight: 400;
  font-size: 2rem;
  line-height: 142%;
  color: white;
  text-align: center;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

body {
  position: relative;
  max-width: 1920px;
  width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header__wrapper {
  width: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
}

.header__nav__link {
  font-size: 2rem;
  font-weight: 400;
  line-height: 142%;
  color: white;
}

.header__number {
  font-size: 2rem;
  font-weight: 400;
  line-height: 142%;
}

main {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13.5rem;
  background-color: var(--beige100);
}

.billboard {
  width: 100%;
  height: 831px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./src/header-img.png);
}

.billboard__header {
  padding: 0 37.6rem;
  width: inherit;
  height: 8.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.billboard__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.billboard__content__title {
  width: 768px;
  letter-spacing: 2%;
}

.billboard__content__desc {
  width: 562px;
}

.billboard__content__link {
  padding: 0.5rem 2rem;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 142%;
  letter-spacing: 1%;
  background-color: white;
  color: var(--black);
  border-radius: 1rem;
}

.billboard__content__link:hover {
  text-decoration: none;
  background-color: var(--orange200);
  color: white;
}

.billboard__content__link:active {
  text-decoration: none;
  background-color: var(--orange100);
}

.tour {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tour__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  color: var(--black);
}

.tour__wrapper__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  font-size: 5.9rem;
  line-height: 124%;
}

.tour__wrapper__title__types {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.tour__wrapper__title__types__link {
  color: var(--black);
  font-size: 2.3rem;
  line-height: 122%;
}

.tour__wrapper__title__types__link:active {
  color: var(--orange200);
}

.tour__wrapper__tours {
  color: white;
  display: grid;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}

.tour__wrapper__tours__card {
  position: relative;
  width: 37rem;
  height: 53.1rem;
  border-radius: 5rem;
  overflow: hidden;
  cursor: pointer;
}

.tour__wrapper__tours__card__content:hover > .tour__wrapper__tours__card__content__link {
  background-color: var(--green400);
}

.tour__wrapper__tours__card:hover img {
  transform: scale(1.2);
}

.tour__wrapper__tours__card img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 5rem;
  transition: 0.3s ease;
}

.tour__wrapper__tours__card__content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5rem;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
}

.tour__wrapper__tours__card__content__title {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.tour__wrapper__tours__card__content__title__name {
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 122%;
}

.tour__wrapper__tours__card__content__title__desc {
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 142%;
}

.tour__wrapper__tours__card__content__link {
  position: absolute;
  top: 446px;
  left: 30px;
  padding: 0.7rem 2rem;
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 122%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  border-radius: 5rem;
  transition: 0.3s ease;
}

.create_tour {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create_tour__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
}

.create_tour__wrapper__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.create_tour__wrapper__title__name {
  font-size: 5.9rem;
  line-height: 124%;
}

.create_tour__wrapper__title__desc {
  font-size: 2rem;
  line-height: 142%;
  text-align: center;
  color: var(--gray300);
}

.create_tour__wrapper__body {
  width: 1170px;
  padding: 7rem;
  display: flex;
  flex-direction: column;
  gap: 3.3rem;
  background-color: white;
  border-radius: 5rem;
}

.create_tour__wrapper__body__group {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.create_tour__wrapper__body__field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.create_tour__wrapper__body__field__label {
  font-weight: 400;
  font-size: 2rem;
  line-height: 142%;
}

.agreement__label {
  color: var(--gray300);
}

.agreement__label span {
  color: var(--black);
  cursor: pointer;
}

.agreement__label span:hover {
  text-decoration: underline;
}

.agreement__label span:active {
  color: var(--green400);
  text-decoration: underline;
}

.create__tour__find:hover {
  background-color: var(--green300);
}

.create__tour__find:active {
  background-color: var(--green200);
}

.create__tour__reset {
  background-color: var(--green100);
  color: var(--green400);
}

.create__tour__reset:hover {
  background-color: var(--gray100);
}

.create__tour__reset:active {
  background-color: var(--gray200);
}

.reviews {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
}

.reviews__wrapper__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.reviews__wrapper__title__name {
  font-size: 5.9rem;
  line-height: 124%;
  text-align: center;
}

.reviews__wrapper__title__desc {
  font-weight: 400;
  font-size: 2rem;
  line-height: 142%;
  text-align: center;
  color: var(--gray300);
}

.reviews__wrapper__body {
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 3rem;
}

.reviews__wrapper__body__card {
  padding: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5rem;
  background-color: var(--beige200);
}

.reviews__wrapper__body__card__content {
  font-size: 2.3rem;
  line-height: 122%;
}

.reviews__wrapper__body__card__footer {
  padding-top: 7rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.reviews__wrapper__body__card__footer__data {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.reviews__wrapper__body__card__footer__data__name {
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 122%;
}

.reviews__wrapper__body__card__footer__data__tour {
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 142%;
  color: var(--gray300);
}

.reviews__wrapper__body__card__footer__photo, .reviews__wrapper__body__card__footer__photo img {
  aspect-ratio: 1;
  width: 7.5rem;
  clip-path: circle();
}

.photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
}

.photos__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.photos__title__name {
  font-size: 5.9rem;
  line-height: 124%;
  text-align: center;
}

.photos__title__desc {
  font-weight: 400;
  font-size: 2rem;
  line-height: 142%;
  text-align: center;
  color: var(--gray300);
}

.photos__body {
  padding: 0 3rem;
  width: 1920px;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 3rem;
}

.photos__body__row {
  display: grid;
  gap: 3rem;
}

.photos__body__first-row {
  grid-template-columns: repeat(4,1fr);
}

.photos__body__second-row {
  grid-template-columns: repeat(5,1fr);
}

.photos__body__third-row {
  grid-template-columns: repeat(4,1fr);
}

.photos__body img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5rem;
}

.histories {
  display: flex;
  align-items: center;
  justify-content: center;
}

.histories__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
}

.histories__wrapper__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.histories__wrapper__title__name {
  font-size: 5.9rem;
  line-height: 124%;
  text-align: center;
}

.histories__wrapper__title__desc {
  font-weight: 400;
  font-size: 2rem;
  line-height: 142%;
  text-align: center;
  color: var(--gray300);
}

.histories__wrapper__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.histories__wrapper__body__card {
  position: relative;
  border-radius: 5rem;
  width: 1170px;
  height: 567px;
  overflow: hidden;
}

.histories__wrapper__body__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease;
}

.histories__wrapper__body__card:hover {
  img {
    transform: scale(1.2);
  }

  .histories__wrapper__body__card__content__bottom__link {
    background-color: var(--green400);
  }
}

.histories__wrapper__body__card__content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 6rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
}

.histories__wrapper__body__card__content__top {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.7rem;
}

.histories__wrapper__body__card__content__top div {
  width: 554px;
}

.histories__wrapper__body__card__content__top__title {
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 122%;
}

.histories__wrapper__body__card__content__top__desc {
  font-weight: 400;
  font-size: 2rem;
  line-height: 142%;
  display: flex;
  flex-direction: column;
  gap: 3.7rem;
}

.histories__wrapper__body__card__content__top__desc ul {
  list-style-type: none;
}

.histories__wrapper__body__card__content__top__desc ul li {
  font-weight: 400;
  font-size: 2rem;
  line-height: 142%;
}

.histories__wrapper__body__card__content__top__desc ul li::before {
  content: "\2022";
  font-weight: 400;
  font-size: 2rem;
  line-height: 142%;
  margin: 0 1rem;
}

.histories__wrapper__body__card__content__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.histories__wrapper__body__card__content__bottom__link {
  border-radius: 5rem;
  padding: 0.7rem 2rem;
  position: absolute;
  top: 472px;
  left: 40px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 2.3rem;
  line-height: 122%;
  transition: 0.3s ease;
}

.histories__wrapper__body__card__content__bottom__references {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 3.5rem;
}

.histories__wrapper__body__card__content__bottom__references__item {
  color: white;
  font-weight: 400;
  font-size: 2rem;
  line-height: 142%;
}

.histories__wrapper__body__card__content__bottom__references__item:active {
  color: var(--orange200);
}

.ad {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ad__wrapper {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.ad__wrapper img {
  aspect-ratio: 1;
  width: 370px;
  object-fit: cover;
  border-radius: 5rem;
}

.ad__wrapper__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.ad__wrapper__content__title {
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 122%;
}

.ad__wrapper__content__desc {
  font-weight: 400;
  font-size: 2rem;
  line-height: 142%;
  color: var(--gray300);
}

.ad__wrapper__content__desc span {
  font-weight: 400;
  font-size: 2rem;
  line-height: 142%;
  color: var(--black);
  cursor: pointer;
}

.ad__wrapper__content__desc span:hover {
  text-decoration: underline;
}

.ad__wrapper__content__desc span:active {
  color: var(--green400);
  text-decoration: underline;
}

footer {
  width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--beige200);
}

.social {
  width: 1168px;
  font-weight: 400;
  font-size: 2rem;
  line-height: 142%;
  color: var(--gray300);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social__links {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.social__links a {
  color: var(--black);
  font-weight: 400;
  font-size: 2rem;
  line-height: 142%;
  display: flex;
  align-items: center;
  gap: 1rem;
}